<b>login please</b>
<form action="/api/login" method="post">
<input type ="text" name="username" username> 
<input type ="text" name="password" password> 
<button type="submit">press this if you want to save yourself</button>
</form>