<link rel="stylesheet" href="/css/onlycars.css">
<header>
<img src="/images/logo.png" alt="Site Logo" width="400" />
  
</header>
<b>sign up please</b>
<b> password and username needs to be length 2 </b>
<form action="/signup" method="post">
<input type ="text" name="username" username placeholder="yourUsernameHere"> 
<input type ="password" name="password" password placeholder="yourPasswordHere"> 
<button type="submit">press this if you want to save yourself</button>
</form>