<link rel="stylesheet" href="/css/onlycars.css">
<header>
<img src="/images/logo.png" alt="Site Logo" width="400" />
  
</header>
<b>login please</b>

<form action="/api/login" method="post">
<input type ="text" name="username" placeholder="yourUsernameHere"> 
<input type ="password" name="password" placeholder="yourPasswordHere"> 
<button type="submit">press to log in</button>
</form>