<h1>hey welcome back {{name}}</h1>
<h2>your password is {{password}}</h2>

      <li><a href="/home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="#contact">Contact</a></li>


            
<h2>{{list}}</h2>